* {
    box-sizing: border-box;
}

:host {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}

:host::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    background-image: linear-gradient(#868b8d, #546165);
    box-shadow: inset 0 12px 15px 0 #b3bec33b;
    z-index: 1;
}

.rotary-knob {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    transform-origin: 50%;
    border: 2px solid #01181e;
    z-index: 2;
}

.rotary-knob::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 3px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    background-color: #01181e;
    border-radius: 50%;
}


.range {
    position: absolute;
    line-height: 30px;
    padding: 0 5px 0 5px;
    text-align: center;
    margin-left: 91px;
    margin-top: 85px;
    z-index: 100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.active {
    font-size: 20px;
    color: greenyellow;
}
