body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  position: relative;
}

rotary-control {
    width: 45px;
    height: 45px;
    min-width: 30px;
    min-height: 30px;
}
